@model InterviewTest.Controllers.NewsletterTripViewModel

<div class="trip">
    <img src="@Model.ImageUrl" />
    <div>
        @Model.Name with @Model.HostName<br />
        @Model.Country
</div>
</div>